*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin-left: 142px;
    background-color: black;
}

 nav{
    position: fixed;
   justify-content: space-between;
   
 }

nav .navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 62px;
   
}

nav .navbar .logo a{
    color: #FFF;
    font-family: 'Actor', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    letter-spacing: -0.25px;
    margin-right: 78px;
}

nav .navbar .menu{
    display: flex;
    position: relative;
}

nav .navbar .menu li{
    list-style: none;
    margin-right: 28px;
  }

.navbar .menu a{
    color: #FFF;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 140% */
}

.navbar .menu a:hover{
color: #949597;
}


section{
    padding-top: 40px;
}

section .content{
width: 100%;
margin: 40px auto;
font-family: 'Poppins', sans-serif;
}

.about .about-details{
display: flex;
justify-content: space-between;
align-items: center;
}


section  .topic{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 84px;
    font-style: normal;
    font-weight: 500;
    line-height: 102px; /* 121.429% */
    letter-spacing: -2px;
    margin-top: 186px;
 
}

.about-details .right p{
    width: 410px;
    height: 98px;
    color: #FFF;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 154.545% */
    margin-left: 142x;
    margin-top: 45px;
}

.about .left img{
    width: 585px;
    height: 690px;
    object-fit: cover;
    margin-right: 200px;
    
}

@media (max-width: 1190px) {
    section .content{
      width: 85%;
    }
  }
  @media (max-width: 1000px) {
    .about .about-details{
      justify-content: center;
      flex-direction: column;
    }
    .about .about-details .left{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .about-details .right{
      width: 90%;
      margin: 40px 0;
    }
    .about .left img{
        width: 617px;
        height: 512px;
      align-items: center;
    }
}


@media (max-width: 320px) {
nav .navbar{
    width: 90%;
}


section  .topic{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height:39.6; /* 115% */
    letter-spacing: -1.6px;
    margin-top: 103px;
    
}

.about-details .right p{
    width: 211px;
    height: 49px;
    color: #FFF;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 154.545% */
    align-items: center;
    margin-top: 15px;
}

.about .left img{
    width: 32px;
    height: 56.8px;
    object-fit: cover;
    margin-top: 20px;
    align-items: center;
    
}

}

@media (max-width: 750px) {
    nav .navbar{
        width: 90%;
    }
    nav .navbar .menu{
        position: fixed;
        left: -100%;
        top: 0;
        background: #0E2431;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        margin-top: 43px;
        flex-direction: column;
        align-items: center;
    }
    
    nav .navbar .menu a{
        font-size: 23px;
        display: block;
        color: #fff;
        margin-top: 43px;
        margin-left: 224px;
    }
    section  .topic{
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 72px;
        font-style: normal;
        font-weight: 500;
        line-height: 82.8px; /* 115% */
        letter-spacing: -1.6px;
        margin-top: 286px;
        
    }
    
    .about-details .right p{
        width: 573.5px;
        color: #FFF;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px; /* 154.545% */
        align-items: center;
        margin-top: 23px;
    }
    
    .about .left img{
        width: 320px;
        height: 366px;
        object-fit: cover;
        margin-top: 40px;
        align-items: center;
        
    }
    
    }